<h1>Change Machine</h1>
<h3>How much do you want to Change?</h3>
<form action="/change">
    <div class="form-group">
        <lable for="coins">Give a number of Cents to exchange.</lable>
        <input id="coins" name="coins" class="form-control" type="text">
    </div>
    <button type='submit' class="btn-success">Show Me the Money!</button>
</form>
